@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

*{
  font-family: 'Outfit',"Roboto", sans-serif;
}

